:root {
    --bg-color: #E9F5FF;
    --inverted-bg-color: #E9F5FF;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #2B2B2B;
    --inverted-secondary-color: #049604;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #FFFFFF;

    // listbox
    --listbox-bg: #d5d5d7;
    --blue-alina:#233D82;
}
